jupyterlab
matplotlib
numpy
scikit-learn
torch==2.2.1
torchvision==0.17.1
scikit-learn==1.2.2
numpy==1.26.4
hydra-core
hydra_zen
hydra-submitit-launcher
tensorboard
tqdm
pandas
optuna
seaborn
timm==0.4.12

black
flake8
isort
pytest
pytest-cov
torchinfo